<ion-view title="TTR" id="page5">
    <ion-content padding="true" class="has-header">
        <h1 id="tTR2-heading2" style="color:#000000;">Uelcam</h1>
        <div style="margin-left: -10px; width: calc(100% + 20px);">
            <img src="img/kFhpDV6lSdy0NYXWt7pE___animatBean3.gif" width="100%" height="200" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
        <ion-list id="tTR2-list4">
            <ion-item class="item-thumbnail-left" id="tTR2-list-item6" ui-sref="titluShow">
                <img src="img/KdI9bC3CRCiHTn6lTpAs_26-weird-photos-but-interesting-you-dont-see-everyday-25.jpg">
                <h2>Zbor deasupra cucului</h2>
            </ion-item>
            <ion-item class="item-thumbnail-left" id="tTR2-list-item7" ui-sref="titluShow">
                <img src="img/pBskEgCAR7mZYToki44m_13435533_625678247608299_1216062484510330165_n.jpg">
                <h2>Da Warning!!!</h2>
            </ion-item>
            <ion-item class="item-thumbnail-left" id="tTR2-list-item9" ui-sref="titluShow">
                <img src="img/pBskEgCAR7mZYToki44m_13435533_625678247608299_1216062484510330165_n.jpg">
                <h2>Da Warning se intoarce</h2>
            </ion-item>
            <ion-item class="item-thumbnail-left" id="tTR2-list-item8" ui-sref="titluShow">
                <img src="img/yFBhdKCwSmmEa2xn4P0t_13346402_287109818297368_3644096167622767932_n.jpg">
                <h2>Cip Cirip</h2>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>