.DS_Store
*.sw[mnpcod]
*.log
*.tmp
*.tmp.*
*.psd
log.txt
.sass-cache/
*.sublime-workspace
*.sublime-project
.idea
bower_components/
tmp
temp
dist
engine/
platforms/
plugins/
www/lib
node_modules
www/src/config/settings.js
*.keystore
*.apk
